[unit]
Description=Jangho docs on Gollum
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/jangho/docs-jangho.git
ExecStart=/home/jangho/.gem/ruby/2.2.0/bin/gollum --port 4567 --host 127.0.0.1 --no-edit
Restart=on-abort

[Install]
WantedBy=multi-user.target
